Engine105FE/EntitiesV/*.cpp
Engine105FE/EntitiesV/*.es
!Engine105FE/EntitiesV/Common/*.cpp
!Engine105FE/EntitiesV/Common/*.h
!Engine105FE/EntitiesV/StdH/*.cpp
!Engine105FE/EntitiesV/StdH/*.h

Engine105/EntitiesV/*.cpp
Engine105/EntitiesV/*.es
!Engine105/EntitiesV/Common/*.cpp
!Engine105/EntitiesV/Common/*.h
!Engine105/EntitiesV/StdH/*.cpp
!Engine105/EntitiesV/StdH/*.h

Engine107/EntitiesV/*.cpp
Engine107/EntitiesV/*.es
!Engine107/EntitiesV/Common/*.cpp
!Engine107/EntitiesV/Common/*.h
!Engine107/EntitiesV/StdH/*.cpp
!Engine107/EntitiesV/StdH/*.h

Engine110/EntitiesV/*.cpp
Engine110/EntitiesV/*.es
!Engine110/EntitiesV/Common/*.cpp
!Engine110/EntitiesV/Common/*.h
!Engine110/EntitiesV/StdH/*.cpp
!Engine110/EntitiesV/StdH/*.h
